{
  "AWSTemplateFormatVersion": "2020-05-24",
  "Resources": {
    "sycLambda": {
      "Type": "AWS::Lambda::Function",
      "Properties": {
        "FunctionName": "sycLambda",
        "Handler": "index.handler",
        "Role": "arn:aws:iam::494526681395:role/for-aws-training",
        "Code": {
          "S3Bucket": "syc-lambda-functions",
          "S3Key": "index.js.zip"
        },
        "Runtime": "nodejs12.x",
        "Timeout": 60
      }
    }
  }
}

